<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>SA Label System</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/SA_Label_System/css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../static/SA_Label_System/css/assets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/SA_Label_System/css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../static/SA_Label_System/js/assets/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../static/SA_Label_System/js/assets/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .cover-heading {
            font-size: 5em;
        }
    </style>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">SA Group</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="https://isph.github.io/SA_Label/templates/SA_Label_System/index.html">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">SA Label System</h1>
            <p class="lead">This is a Label System for SA Group@icst</p>
            <p class="lead">
              <a href="https://isph.github.io/SA_Label/templates/SA_Label_System/signup.html" class="btn btn-lg btn-default">Sign up</a>
            </p>
            <p>
                <a href="https://isph.github.io/SA_Label/templates/SA_Label_System/signin.html" class="btn btn-lg btn-default">Sign in</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Home Page for <a href="#">SA Label System</a>, by <a href="#">@SunPenghui</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../static/SA_Label_System/js/assets/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../static/SA_Label_System/js/bootstrap/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/SA_Label_System/js/assets/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
