body {
  padding-top: 50px;
  text-align: center;
}

.input-group {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  background-color: #2a2730;
}

.img-rounded{
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}